<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>remstudent</servlet-name>
        <servlet-class>table.remstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminhom</servlet-name>
        <servlet-class>table.adminhom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remnotice</servlet-name>
        <servlet-class>table.remnotice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remstudent</servlet-name>
        <url-pattern>/remstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminhom</servlet-name>
        <url-pattern>/adminhom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remnotice</servlet-name>
        <url-pattern>/remnotice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
